/* Home page start */
*{
    margin: Opx;
    padding: 0px;
}
@font-face {
    font-family:Gwen;
    src: url(../Gwendolyn/Gwendolyn-Bold.ttf);
}
.logo{
    width: 100px;
    height: 70px;
    margin-left: 40px;
}
.brand_name{
    margin-top: -55px;
    margin-left: 90px;
    font-family: Gwen;
    font-size: 20px;
}
.nav_brand{
    display: inline-block;
}
.nav_bar ul{
    float: right;
}
.nav_bar ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}
.nav_bar ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.brand_name{
    font-weight: bolder;
}
.nav_bar ul li a:hover{
    color: blue;
    letter-spacing: 4px;
    transition-duration:0.3ms;
}
.nav_bar{
    height: 90px;
}
.clear{
    clear: both;
}
/* Background start */
.img{
    width: 100%;
    height: 550px;
}
.background_text{
    position: absolute;
    top: 250px;
    left: 100px;
}
.perfect{
    font-family: Gwen;
    font-weight: bolder;
    margin-bottom: 30px;
}
.shop{
    padding: 10px 20px;
    color:#2f91bc;
    border: 1px solid #2f91bc ;
    border-radius: 5px;
}
.shop:hover{
    color: white;
    background-color:#2f91bc ;
}
/* Product */
.header{
    text-align: center;
    padding-top: 50px;
}
.divided{
    max-width: 100px;
    margin: auto;
    border: 1px solid #2f91bc;
}
.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 40px;
    grid-gap: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.product_img{
    border-radius:5px ;
    box-shadow: 0px 10px 20px rgb(0, 0, 0.15);
}
.red{
    color: red;
}
.about{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align:center ;
    margin-top: 80px;
    background-image: url(../images/background_image.jpg);
    color: white;
}

.about div{
    padding:60px 0px ;
}

.divide{
    max-width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-weight: bolder;
    padding-left: 60px;
}
.packaging_img{
    float: left;
    width: 30%;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 15px;
}
.small_title{
    font-weight: bolder;
    margin-top: 20px;
}
.justify{
    text-align: justify;
}
/* Support */
.support_icon p{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
}
.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    background-color: rgb(190, 188, 188);
    padding-top: 30px;
    padding-left: 30px;
}
.footer{
    height: 230px;
    background-color: rgb(76, 76, 197);
}
.footnav{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 50px 20px 0px;
}
.socialicon{
    color: white;
}
/* Home page end */
/* Shop page start */
.shop_image{
    float: left;
    width: 5in;
    height: 5inpx;
    padding-right: 20px;
}
.button{
    width: 50px;
    height: 40px;
    color: brown;
}
.shop_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
    margin-top: 20px;
}
.shop_grid1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
    margin-top: 20px;
}
.Top_header{
    text-align: center;
}
.underline{
    max-width: 3in;
}
.Available_pro{
    text-align: center;
}
.underline1{
    max-width: 3in;
}
.div_body{
    background-image:url(../images/contactus.jpg);
    height: 3.5in;
}
.contact_header{
    color: white;
}
.label{
    color: white;
}
.about_body{
    background-color: rgb(218, 211, 211);
}
.div_body{
    background-image: url(../images/aboutus.jpg);
}