*{
    margin: Opx;
    padding: 0px;
}
@font-face {
    font-family:Gwen;
    src: url(../Gwendolyn/Gwendolyn-Bold.ttf);
}
.logo{
    width: 100px;
    height: 70px;
    margin-left: 40px;
}
.brand_name{
    margin-top: -55px;
    margin-left: 90px;
    font-family: Gwen;
    font-size: 20px;
}
.nav_brand{
    display: inline-block;
}
.nav_bar ul{
    float: right;
}
.nav_bar ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}
.nav_bar ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.brand_name{
    font-weight: bolder;
}
.nav_bar ul li a:hover{
    color: blue;
    letter-spacing: 4px;
    transition-duration:0.3ms;
}
.nav_bar{
    height: 90px;
}
.clear{
    clear: both;
}
/* Background start */
.img{
    width: 100%;
    height: 550px;
}
.background_text{
    position: absolute;
    top: 250px;
    left: 100px;
}
.perfect{
    font-family: Gwen;
    font-weight: bolder;
    margin-bottom: 30px;
}
.shop{
    padding: 10px 20px;
    color:#2f91bc;
    border: 1px solid #2f91bc ;
    border-radius: 5px;
}
.shop:hover{
    color: white;
    background-color:#2f91bc ;
}